/* CSS Document */
@font-face {
  font-family: title;
  src: url("/css/font/Galyon-bold.ttf");
}
@font-face {
  font-family: tsing;
  src: url("/css/font/qingke.TTF");
}
#homepage {
  background-image:url("../src/index/hmpage.png");
  background-size: cover;
}
#hphead {
  color: #C5E99B;
  font-size: 500%;
  font-family: tsing;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#hp_choice {
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 300%;
color: #C5E99B;
}
a {
  text-decoration: none;
  color: inherit;
}